@media screen and (max-width: 1300px) {
    .blockOrder {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    
    .blockLink {
        display: none;
    }
    
    .blockOrder {
        display: none;
    }
}