.block_inform {
    width: 100%;
    min-height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.block_inform div {
    padding: 15px 60px;
}

.block_inform p {
    font-size: 18px;
}

.list_plus {
    padding: 15px;
}


.list_plus li {
    margin: 15px;
}

.block_inform_1 {
    border-right: 1px solid rgb(0, 0, 0);
}

.block_history {
    width: 80%;
    min-height: 300px;
    background-color: #FCF3F3 ;
    margin: 15px auto;
    text-align: center;
}

img {
    display: block;
    max-width: 91px;
    margin: 25px auto;
}

.text_history {
    font-size: 18px;
    font-weight: lighter;
    padding: 15px;
}