@media screen and (max-width: 1300px) {
    .menu {
        grid-template-columns: 1fr 1fr;
    }

    .blockBtns, .blockOrder {
        display: none;
    }

    .block_adaptive_btn{
        display: block;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .block_products {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .block_item {
        display: none;
    }

    .adaptive_category {
        display: block;
    }
}

@media screen and (max-width: 1100px) {
    footer {
        display: block;
    }

    .soc_network {
        width: 30%;
    }

    .btnOrder {
        width: 30%;
        padding: 20px;
        margin: auto;
    }

    .btnOrder button {
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .block_products {
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (max-width: 850px) {
    .screensaver {
        width: 100%; 
        max-height: 400px;
        background-image: url(/картинки/1647455115_88-vsegda-pomnim-com-p-ozero-gornoe-foto-106.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: border-box;
    }

    .mainTitle {
        line-height: 400px;
        font-size: 48px;
    }
}

@media screen and (max-width: 650px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .block_products {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px) {
    .mainTitle {
        line-height: 400px;
        font-size: 32px;
    }
}