@media screen and (max-width: 2400px) {
    .block_oders {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1600px) {
    .block_oders {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1300px) {

    .blc-btn-adaptive {
        display: flex;
    }

    .block_item {
        height: 0;
        opacity: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .item {
        width: 100%;
        padding: 6px 0;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .block_products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1100px) {

    .textLogo {
        margin-left: 30px;
    }
    
    footer {
        display: block;
    }

    .soc_network {
        width: 30%;
    }

    .block_iform {
        display: block;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 900px) {

    .textLogo {
        margin-left: 60px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .block_products {
        grid-template-columns: 1fr 1fr ;
    }

    .block_inform {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 850px) {
    .screensaver {
        width: 100%; 
        max-height: 400px;
        background-image: url('../images/mini.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: border-box;
    }

    .mainTitle {
        line-height: 400px;
        font-size: 48px;
    }
}

@media screen and (max-width: 650px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .block_products {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px) {

    .textLogo {
        margin-left: 80px;
    }

    .mainTitle {
        line-height: 400px;
        font-size: 32px;
    }
}