@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Italianno&family=Roboto:ital,wght@1,100&display=swap');

/* ========== CARD PRODUCT ========== */
.card_block {
    margin: 50px auto;
    width: 280px;
    max-height: 440px;
    background-color: #fff;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 10px 10px 25px rgb(127, 127, 127, 0.5);
}

.block_image {
    width: 100%;
    box-sizing: border-box;
}

.block_image img {
    width: 100%;
    height: 100%;
    max-height: 250px;
}

.card_block div {
    padding: 5px;
}

.btn_buy {
    margin: 15px auto;
}

.btn_buy a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    background-color: #DF1D1D;
    border: 3px solid #DF1D1D;
    padding: 8px 22px;
    cursor: pointer;
    transition: all 0.3s;
} 

.btn_buy a:hover {
    background-color: #ffffff;
    color: #DF1D1D;
} 

/* ========== BLOCK CATEGORIES ========== */

.item_category {
    width: 280px;
    min-height: 280px;
    margin: 45px auto;
    border-radius: 50px;
    text-align: center;
    box-shadow: 10px 10px 25px rgb(127, 127, 127, 0.5);
    cursor: pointer;
}

.item_category a {
    display: block;
    width: 70%;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 32px;
    padding: 5px 15px;
    margin: auto;
    color: #000000;
    font-weight: bold;
    transform: translateY(150%);
    text-decoration: none;
    transition: 0.3s;
    margin-top: 15px;
}

.item_category a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}