.block_catalog {
    width: 100%;
}

.block_item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #EEEEEE;
    padding: 20px 0px;
}

.item {
    width: 80%;
    margin: auto;
    background-color: rgb(0, 0, 0);
    padding: 5px 6px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.block_products {
    width: 100%;
    min-height: 67.5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
    width: 280px;
    height: 400px;
    background-color: burlywood;
    margin: 20px auto;
}

.adaptive_category {
    display: none;
}

.text {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 12px;
    cursor: pointer;
    background-color: #EEEEEE;
}

.adaptive_category .item {
    margin-top: 2px;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 15px;
}

.category_links {
    width: 100%;
    display: none;
}

.active {
    border-color: #ff0000;
}