.block_catalog {
    width: 100%;
    background-color: #EEEEEE;
}

.blc-btn-adaptive {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.btn-adaptive {
    margin: 10px 0;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.block_item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 15px 0;
    transition: all 0.3s ease-in;
}

.item {
    width: 80%;
    margin: auto;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.item a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.item a:hover {
    text-decoration: underline;
}

.block_products {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
    width: 280px;
    height: 400px;
    margin: 20px auto;
}

.adaptive_category {
    display: none;
}

.text {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 12px;
    cursor: pointer;
    background-color: #EEEEEE;
}

.adaptive_category .item {
    margin-top: 2px;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 15px;
}

.category_links {
    width: 100%;
    display: none;
}

.active {
    border-color: #ff0000;
}