@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Italianno&display=swap');

* {
    margin: 0;
    font-family: 'Norican', sans-serif;
}

/* ===================================== MENU =============================== */

.menu {
    width: 100%;
    height: 70px;
    background-color: #000000;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    color: white;
    line-height: 70px;
    font-family: sans-serif;
}

.blockLogo{
    margin-left: 40px;
    width: 10%;
}

.textLogo {
    font-size: 36px;
}

.blockBtns ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.blockBtns li {
    height: 70px;
    text-align: center;
    margin: auto 10px;
}

.link {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.blockOrder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.blockOrder div {
    margin: auto 10px;
}

.blockOrder button {
    border: none;
    background-color: #FAFF00;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    padding: 8px;
}

.blockOrder button:hover {
    transform: scale(0.95);
}

.block_adaptive_btn {
    display: none;
    width: 100%;
}

.adaptive_btn {
    display: block;
    float: right;
    width: 70px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    background-image: url(/картинки/бургер.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    cursor: pointer;
}

.adaptive_menu {
    display: none;
    width: 200px;
    margin-top: 65px;
    color: rgb(0, 0, 0);
    border: 5px solid black;
    float: right;
    margin-right: -70px;
}

.adaptive_menu .adaptive_link {
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}

.adaptive_menu a {
    text-decoration: none;
    color: white;
}

.adaptive_menu .adaptive_link a:hover {
    text-decoration: underline;
}

.adaptive_link {
    border-bottom: 5px solid black;
}

/* ============================== SCREENSAVER =================================== */

.screensaver {
    width: 100%; 
    max-height: 800px;
    background-image: url(/картинки/1647455115_88-vsegda-pomnim-com-p-ozero-gornoe-foto-106.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.mainTitle {
    line-height: 800px;
    text-align: center;
    font-size: 96px;
    color: #ffffff;
    text-shadow: 3px 3px 3px #111111;
    font-family: 'Bona Nova', serif;
    /* font-family: 'Italianno', cursive; */
}


/* ================================= BLOCK_TITLE ========================================= */

.block_title {
    width: 100%;
    text-align: center;
    background-color: #EEEEEE;
}

.title {
    font-size: 32px;
    padding: 15px;
}

/* ================================  BLOCK_CATALOG ============================================== */

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.item_category {
    width: 280px;
    min-height: 280px;
    margin: 45px auto;
    background-color: rgb(127, 127, 127);
    border-radius: 50px;
    text-align: center;
}

/* =============================== BLOCK_TITLE_2 ================================================= */

.block_title_2 {
    width: 100%;
    background-color: #EEEEEE;
    border-bottom: 1px solid #292929;
}

.title_2 {
    margin-left: 40px;
    font-size: 32px;
    padding: 15px;
}

.card_product {
    width: 280px;
    min-height: 400px;
    margin: 45px auto;
    background-color: rgb(127, 127, 127);
    text-align: center;
}

/* ================================ FOOTER ======================================================= */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    min-height: 100px;
    background-color: #000000;
    color: white;
}

.soc_network {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.soc_net {
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 64px;
    cursor: pointer;
    transition: 0.3s;
}

.soc_net:hover {
    transform: scale(0.95);
}

.inst {
    width: 64px;
    height: 64px;
    background-image: url(/картинки/instagram.png);
    background-size: cover;
}

.vk {background-image: url(/картинки/vk.png);}

.telega {background-image: url(/картинки/telegram.png);}

.number_phone, .adres {
    text-align: center;
    font-size: 16px;
    padding: 8px;
}

.adres a {
    text-decoration: none;
    color: #EEEEEE;
    margin: 20px;
}

.adres a:hover {
    text-decoration: underline;
}

.number_phone p, .adres a {padding: 5px;}

.b_btn {
    margin: auto;
}

.b_btn button {
    border: none;
    background-color: #FAFF00;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.b_btn button:hover {
    transform: scale(0.95);
}





